.logo{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true);
    display: block;
    width: 128px;
    height: 38px;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}
a{
    font-size: 1rem;
}

.badge{
    top: -6px;
    right: -9px;
    width: 16px;
    height: 13px;
    background-color:$secondary;
    color:#fff;
    border-radius: 9rem;
    padding-bottom: 1.2rem;
    padding-right: 0.9rem;
    padding-left: 0.4rem;
}
.font-sm{
    font-size: 1.25rem;
}

.bar{
    @include media-breakpoint-down(md) { 
        display: none;
     }
}
