.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true);
    height: 100vh;
}
.solgan{
    padding: 0 15px;
}
.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.btn-outline-dark:hover{
    background-color: #8D8D8D;
}


.bg-color{
    background-color: #E0E0E0;
}

.footBanner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
    height: 600px;
}
.subscribe{
    padding-top: 312px;
}
.card{
    position: relative;
}
.card-cover:after{
    content: 'Sold out';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

